body
{
	background-color: #0A0E2B;
}

*
{
	margin: 0;
	font-family: 'Montserrat', Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
    line-height: 36px;
    box-sizing: border-box;
}

:root
{
	--ctaColor: #F74B42;
	--accent: #3BFAFC;
	--bodyColor: #212020;
	--buttonColor: #F74B42;
	--lightBlue2: #27264D;
	--textLight: #FAFAFA;
}

/** SECTIONS CUSTOM STYLING **/
	.text-box
	{
		background: var(--lightBlue2);
		border-radius: 10px;
	}

	.cta, .cta p
	{
		color: var(--ctaColor);
		line-height: 29px;
	}

	.grey-text
	{
		color: #E4E6EC;
	}

	.side-bar
	{
		position: absolute;
		width: 12px;
		height: 137px;
		left: 0;
		background: var(--accent);
	}

	@media only screen and (max-width: 1024px)
	{
		.side-bar
		{
			height: 40%;
		}
	}

	.long-bar
	{
		height: 183px;
	}

	@media only screen and (max-width: 1024px)
	{
		.long-bar
		{
			height: 50%;
		}
	}
/** SECTIONS CUSTOM STYLING **/

/** BUTTON STYLING **/
	.btn
	{
		background-color: var(--buttonColor);
	}
/** END BUTTON STYLING **/

/** ELEMENT-WIDE HEADING STYLING **/
	h2
	{
		font-family: Poppins;
		font-size: 36px;
		line-height: 54px;
	}
/** END ELEMENT-WIDE HEADING STYLING **/

/** HEADER SECTION **/
	header
	{
		background-image: url('img/hero-bg.jpg');
	}

	header h1, .countdown, .cta, a
	{
		color: var(--textLight);
	}

	header h2
	{
		color: var(--accent);
	}

	header h1, .countdown
	{
		font-family: Poppins;
	}

	@media only screen and (min-width: 1024px)
	{
		header h1
		{
			font-size: 4rem;
			line-height: 4rem;
			letter-spacing: -0.055em;
		}

		header h2
		{
			line-height: 29px;
			letter-spacing: 0.1em;
		}
	}

	.countdown
	{
		font-weight: 600;
		font-size: 64px;
		line-height: 96px;
	}

	.day, .hour, .min, .colon1, .colon2
	{
		font-family: Poppins;
		font-size: 96px;
		line-height: 144px;
		letter-spacing: 0.5em;
		color: var(--ctaColor);
		opacity: 0.25;
		position: absolute;
		top: 9%;
		z-index: -1;
	}

	.day
	{
		left: 29%
	}

	.hour
	{
		right: 43%
	}

	.min
	{
		right: 24%
	}

	.colon1
	{
		left: 40%
	}

	.colon2
	{
		right: 36%
	}
/** END HEADER SECTION **/

/** SECTION 1 STYLING **/
	.section1 p
	{
		font-weight: 500;
		line-height: 29px;
	}

	@media only screen and (min-width: 1024px)
	{
		.vh-50
		{
			height: 75vh;
		}
	}

	.app-left
	{
		left: 19%;
		top: 20px;
	}

	.app-mid
	{
		left: 40%;
		z-index: 10;
	}

	.app-right
	{
		right: 14%;
		top: 20px;
	}

	.app-mid img
	{
		animation: mover 0.5s infinite alternate;
		-webkit-animation: mover 0.5s infinite alternate;
	}

	@-webkit-keyframes mover {
	    0% { transform: translateY(0); }
	    100% { transform: translateY(-10px); }
	}
	@keyframes mover {
	    0% { transform: translateY(0); }
	    100% { transform: translateY(-10px); }
	}

	.bg-right
	{
		right: 0;
	}

	.bg-left
	{
		left: 0;
	}

	.element2
	{
		top: 280px;
	}

	.element3
	{
		top: 700px;
	}

	.element4
	{
		top: 300px;
	}

	.element7
	{
		top: 900px;
	}

	 .element8
	{
		top: 380px;
	}
/** END SECTION 1 STYLING **/

/** SECTION 2 STYLING **/
	.section2
	{
		background-image: url('img/sec2-bg.jpg');
		background-repeat: no-repeat;
		background-position-y: 68%;
	}
/** END SECTION 2 STYLING **/

/** SECTION 3 STYLING **/
	.section3
	{
		background-image: url('img/sec3-bg.jpg');
		background-repeat: no-repeat;
		background-position-y: 68%;
	}
/** END SECTION 3 STYLING **/

/** SECTION 5 STYLING **/
	.section5
	{
		background-image: url('img/sec5-bg.jpg');
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	.text-box button
	{
		box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.25);
	}
/** END SECTION 5 STYLING **/

/** SECTION 6 STYLING **/
	.element10, .element15, .element16
	{
		top: -300px;
	}

	.element12
	{
		top: 450px;
	}

	.element13
	{
		top: 525px;
	}

	.element14
	{
		top: 425px;
	}

	.title
	{
		font-size: 48px;
		letter-spacing: -0.055em;
	}

	.subtitle
	{
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.1em;
		color: #D7D9DD;
	}

	/* BG ELEMENTS ANIMATIONS */
	@keyframes spin
	{
	    from
	    {
	        transform: rotate(0deg);
	    }
	    to
	    {
	        transform: rotate(360deg);
	    }
	}

	@keyframes rpulse
	{
	    0%
	    { 
	    	transform: translateX(0); 
	    }
	    100%
	    { 
	    	transform: translateX(-10px); 
	    }
	}

	@keyframes lpulse
	{
	    0% 
	    { 
	    	transform: translateX(-5px); 
	    }
	    100% 
	    { 
	    	transform: translateX(0); 
	    }
	}

	@keyframes logopulse
	{
	    0% 
	    { 
	    	transform: scale(1); 
	    }
	    100% 
	    { 
	    	transform: scale(0.7); 
	    }
	}
/** END SECTION 6 STYLING **/

/** FOOTER STYLING **/
	footer
	{
		border-top: 1px solid;
		border-color: var(--ctaColor);
	}

	footer h4
	{
		font-size: 24px;
		line-height: 29px;
	}
/** END FOOTER STYLING **/

/** FLICKITY CAROUSEL STYLING **/
	.carousel-cell
	{
	  	height: 550px;
	}

	.flickity-viewport
	{
		width: 100%;
	}

	.flickity-prev-next-button
	{
		display: none;
	}

	.flickity-page-dots .dot
	{
		background-color: var(--ctaColor);
		height: 4px;
		width: 40px;
		margin: 0;
		border-radius: 0;
	}

	.carousel.is-fullscreen .carousel-cell {
	  height: 100%;
	}
/** END FLICKITY CAROUSEL STYLING **/

/** THANK YOU PAGE STYLING **/
	@media only screen and (min-width: 1024px)
	{
		.thankyou h1
		{
			font-size: 3rem;
			line-height: 4rem;
			letter-spacing: 0.05em;
		}

		.thankyou h2
		{
			line-height: 29px;
			letter-spacing: 0.1em;
		}
	}
/** END THANK YOU PAGE STYLING **/