body
{
	background-color: #0A0E2B;
}

*
{
	margin: 0;
	font-family: 'Montserrat', Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
    line-height: 36px;
    box-sizing: border-box;
}

:root
{
	--ctaColor: #F74B42;
	--accent: #3BFAFC;
	--bodyColor: #212020;
	--buttonColor: #F74B42;
	--lightBlue2: #27264D;
}

/** SECTIONS CUSTOM STYLING **/
	.text-box
	{
		background: var(--lightBlue2);
		border-radius: 10px;
	}

	.cta, .cta p
	{
		color: var(--ctaColor);
		line-height: 29px;
	}

	.grey-text
	{
		color: #E4E6EC;
	}
/** SECTIONS CUSTOM STYLING **/

/** BUTTON STYLING **/
	.btn
	{
		background-color: var(--buttonColor);
	}
/** END BUTTON STYLING **/

/** ELEMENT-WIDE HEADING STYLING **/
	h2
	{
		font-family: Poppins;
		font-size: 36px;
		line-height: 54px;
	}
/** END ELEMENT-WIDE HEADING STYLING **/

/** HEADER SECTION **/
	header
	{
		background-color: #C4C4C4;
	}

	header h1, header h2, .countdown, .cta
	{
		color: var(--bodyColor);
	}

	header h1, .countdown
	{
		font-family: Poppins;
	}

	@media only screen and (min-width: 1024px)
	{
		header h1
		{
			font-size: 4rem;
			line-height: 4rem;
			letter-spacing: -0.055em;
		}

		header h2
		{
			line-height: 29px;
			letter-spacing: 0.1em;
		}
	}

	.countdown
	{
		font-weight: 600;
		font-size: 64px;
		line-height: 96px;
	}

	.day, .hour, .min, .colon1, .colon2
	{
		font-family: Poppins;
		font-size: 96px;
		line-height: 144px;
		letter-spacing: 0.5em;
		color: #000000;
		opacity: 0.15;
		position: absolute;
		top: 36%;
	}

	.day
	{
		left: 29%
	}

	.hour
	{
		right: 43%
	}

	.min
	{
		right: 24%
	}

	.colon1
	{
		left: 40%
	}

	.colon2
	{
		right: 36%
	}
/** END HEADER SECTION **/

/** SECTION 1 STYLING **/
	.section1 p
	{
		font-weight: 500;
		line-height: 29px;
	}

	.app-mid
	{
		z-index: 10;
		/*margin: 0 -106px;*/
	}

	.bg-right
	{
		right: 0;
	}

	.bg-left
	{
		left: 0;
	}

	.element0, .element1, .element5, .element6
	{
		top: 0;
	}

	.element2
	{
		top: 280px;
	}

	.element3
	{
		top: 700px;
	}

	.element4
	{
		top: 300px;
	}

	.element7
	{
		top: 900px;
	}

	 .element8
	{
		top: 380px;
	}
/** END SECTION 1 STYLING **/

/** SECTION 2 STYLING **/
	.section2
	{
		background-image: url('img/sec2-bg.jpg');
		background-repeat: no-repeat;
		background-position-y: 68%;
	}
/** END SECTION 2 STYLING **/

/** SECTION 3 STYLING **/
	.section3
	{
		background-image: url('img/sec3-bg.jpg');
		background-repeat: no-repeat;
		background-position-y: 68%;
	}
/** END SECTION 3 STYLING **/

/** SECTION 5 STYLING **/
	.section5
	{
		background-image: url('img/sec5-bg.jpg');
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	.text-box button
	{
		box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.25);
	}
/** END SECTION 5 STYLING **/

/** SECTION 5 STYLING **/
	.element12
	{
		top: 997%;
	}

	.element13
	{
		top: 1020%;
	}

	.element14
	{
		top: 1005%;
	}

	.element15, .element16
	{
		top: 925%;
	}
/** END SECTION 5 STYLING **/

/** FOOTER STYLING **/
	footer
	{
		border-top: 1px solid;
		border-color: var(--ctaColor);
	}

	footer h4
	{
		font-size: 24px;
		line-height: 29px;
	}
/** END FOOTER STYLING **/

	/*.side-bar::before
	{
		position: absolute;
		width: 12px;
		height: 137px;
		left: 140px;
		top: 2437px;
		background: var(--accent);
	}*/

	.carousel-cell
	{
	  	height: 550px;
	}

	.flickity-viewport
	{
		width: 100%;
	}

	.flickity-prev-next-button
	{
		display: none;
	}

	.flickity-page-dots .dot
	{
		background-color: var(--ctaColor);
		height: 4px;
		width: 40px;
		margin: 0;
		border-radius: 0;
	}